/* 
==============================================
CONTENT:	Crossroads Store
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Reset
1. STYLES

==============================================
*/

/* 0. Reset ================================= */
@use 'reset';
@use 'variables';
@use 'mixins';


/* 1.STYLES ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}


