/* 
==============================================
CONTENT:	Crossroads Store
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Reset
1. STYLES

==============================================
*/

/* 0. Reset ================================= */
@use 'reset';
@use 'variables';
@use 'mixins';


/* 1.STYLES ================================= */

* {
	box-sizing: border-box;
}

body{
	font-family:'Lucida Sans', sans-serif;
}

a {
	text-decoration: none;
	color: unset;
}

.header{
	padding: 2%;
	display: flex;
	justify-content: space-between;
	background-color: white;

	&__logo-image{
		background: url(../../src/img/logo.png);
		background-size: cover;
		width: 128px;
		height: 41.5px;

		&:hover{
			filter: brightness(120%);
		}
	}

	&__text{
		padding-left: 6px;
		font-size: 1.625rem;
		align-self: center;
		font-weight: bold;

		@include mixins.desktop {
			font-size: 1.875rem;
		}

	}
}

.menu{
	display: flex;
	justify-content: space-between;
	width: 140px;

	&__icon{
		background-size: cover;
		width: 35px;
		height: 35px;
		cursor: pointer;

		&_toggle{
			background: url(../../src/img/hamburger.png);
			background-size: contain;
			border: 1px solid rgba(0,0,0,0.3);
		}

		&_search{
			background: url(../../src/img/magnifying-glass.svg);
		}

		&_cart{
			background: url(../../src/img/icon-shopping-cart.svg);
		}

	}
}

.hero{
	padding: 5% 2%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading{
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 2%;
	}

	&__cta{
		text-align: center;
	}

	@include mixins.desktop {
		padding: 4% 2%;
	}

}

.plan-display{
	padding: 0% 2%;

	@include mixins.desktop {
		display: flex;
		justify-content: space-between;
	}
}

.plan{
	position: relative;
	border: 5px variables.$dark-blue solid;
	width: 100%;
	margin-bottom: 2%;

	@include mixins.desktop {
		width: 33%;
	}

	&__upper{
		border: 2px solid black;
		background-color: variables.$gray;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2%;

		&_featured{
			background-color: lightgoldenrodyellow;
		}

		@include mixins.desktop {
			padding: 5% 2%;
		}


	}

	&__title{
		font-size: 1.625rem;
		text-transform: uppercase;
		padding-bottom: 1%;
		font-weight: bold;

		@include mixins.desktop {
			font-size: 1.5rem;
			padding-bottom: 2%;
		}
	}

	&__desc{
		@include mixins.desktop {
			font-size: 0.875rem;
		}
	}

	&__lower{
		border: 2px solid black;
		display: flex;
		flex-direction: column;
		align-items: center;

		&_featured{
			padding-top: 3%;
		}

		@include mixins.desktop {
			padding-top: 7%;
		}
	}

	&__price{
		font-weight: bold;
		font-size: 2rem;
		padding: 2%;

		@include mixins.desktop {
			padding-bottom: 7%;
		}
	}

	&__features-list{
		list-style: disc;
		padding-bottom: 2%;

		@include mixins.desktop {
			padding-bottom: 7%;
		}
	}

	&__button{
		background-color: variables.$orange;
		font-weight: bold;
		text-transform: uppercase;
		padding: 10px;
		border-radius: 15%;
		cursor: pointer;
		margin-bottom: 2%;

		&:hover{
			filter: brightness(120%);
		}

		@include mixins.desktop {
			margin-bottom: 7%;
		}
	}

	&__banner{
		background: url(../../src/img/recommended.png);
		width: 197px;
		height: 47.5px;
		background-size: cover;
		position: absolute;
		top: 24%;

		@include mixins.desktop {
			top: 21%;
		}
	}
}

.footer{
	margin: 5%;

	&__text{
		color: #909097;
	}
}